<div class="other-pages">
    <section class="welcome">
        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    Contact me
                </h1>
                <p class="wow pulse" data-wow-delay="1s">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>

    </section>

    <section class="breadcrumb-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a routerLink="home">Inicio</a> » Contact
                </div>
            </div>
        </div>
    </section>

    <main class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form action="#">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Full name</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="name" name="name" placeholder="Enter full name" data-toggle="tooltip" data-placement="top" title="Full name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="email" name="email" placeholder="name@example.com" data-toggle="tooltip" data-placement="top" title="Email">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="msg" class="col-md-4 col-form-label">Message</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="5" id="msg" name="msg" placeholder="Enter message" data-toggle="tooltip" data-placement="top" title="Message"></textarea>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-4">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque laborum commodi suscipit vitae eius perferendis consequuntur? Modi nihil aliquam, quas deserunt vitae atque suscipit ratione rerum eveniet. Qui, adipisci ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque laborum commodi suscipit vitae eius perferendis consequuntur? Modi nihil aliquam, quas deserunt vitae atque suscipit ratione rerum eveniet. Qui, adipisci ad.</p>
                </div>
            </div>
        </div>
    </main>
</div>