<div class="other-pages">
    <section class="welcome">
        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    Skills
                </h1>
                <p class="wow pulse" data-wow-delay="1s">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cumque dolore perspiciatis.
                </p>
            </div>
        </div>

    </section>

    <section class="breadcrumb-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a href="index.html">Inicio</a> » Skills
                </div>
            </div>
        </div>
    </section>

    <main class="py-3 list-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam saepe quis atque, reiciendis corrupti amet, dolor iste eligendi ratione labore a praesentium assumenda veniam beatae quo, excepturi eum numquam error.</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#portfolio1">Más información</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                        <h4>Lorem ipsum</h4>
                        <p>Aliquam saepe quis atque, atione labore a praesentium assumenda veniam beatae quo, excepturi eum numquam error.</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#portfolio2">Más información</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam saepe quis atque, reiciendis corrupti amet, dolor iste eligendi ratione labore a praesentium assumenda veniam beatae quo, excepturi eum numquam error.</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#portfolio3">Más información</a>
                    </article>
                </div>
            </div>
        </div>
    </main>

</div>