<div class="other-pages">
    <section class="welcome">
        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    Skills
                </h1>
                <p class="wow pulse" data-wow-delay="1s">
                    Programming languages, frameworks, development tools that I know.
                </p>
            </div>
        </div>

    </section>

    <section class="breadcrumb-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a routerLink="home">Inicio</a> » Skills
                </div>
            </div>
        </div>
    </section>

    <main class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h3>Angular</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <h3 class="pt-4">JavaScript</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                    <h3 class="pt-4">TypeScript</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                    <h3 class="pt-4">Bootstrap</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <h3 class="pt-4">CSS3</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <h3 class="pt-4">HTML5</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <h3 class="pt-4">Node JS</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <h3 class="pt-4">Git</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div><br>
                </div>
            </div>
        </div>
    </main>
</div>