<header class="header-page navbar fixed-top" role="banner" id="header-page">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/images/lj.png" alt="logo">
        </a>

        <button type="button" class="btn-search" data-toggle="collapse" data-target="#block-search" aria-expanded="false">
        <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn-menu d-md-none" data-toggle="collapse" data-target="#list-menu" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <form action="#" id="block-search" class="collapse">
            <div class="container-search">
                <input type="text" placeholder="Search...">
                <input type="submit" value="Search">
            </div>
        </form>

        <nav id="list-menu" class="collapse">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About me</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="skills.html">Skills</a></li>
                <!-- <li><a href="contact.html">Contact</a></li> -->
            </ul>
        </nav>
    </div>
</header>