<div class="other-pages">
    <section class="welcome">

        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    Portfolio
                </h1>
                <p class="wow pulse" data-wow-delay="1s">
                    These are some of my projects on GitHub.
                </p>
            </div>
        </div>

    </section>

    <section class="breadcrumb-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a routerLink="home">Home</a> » Portfolio
                </div>
            </div>
        </div>
    </section>

    <main class="py-3 list-portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h4>App Profile</h4>
                        <p class="text-justify">
                            Website using Angular with my professional profile describing my knowledge and skills, what I like to do in my free time, my academic studies and the projects I have carried out on the GitHub platform.
                        </p>
                        <a href="https://curriculum-vitae-51728.web.app/#/home" target="_blank" class="btn btn-primary">Más información</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h4>App Inscription</h4>
                        <p class="text-justify">
                            Web application using NodeJS for the administration of courses in an educational institution, allows the creation and updating of courses, the enrollment of students in courses, display all enrolled students.
                        </p>
                        <a href="https://inscription-course.herokuapp.com" target="_blank" class="btn btn-primary">Más información</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <h4>App Ghaphics</h4>
                        <p class="text-justify">Web application using Angular and Firebase the application consists of voting for the game of the year and seeing the changes in real time, it is an application made by the online course of udemy with the tutor Fernando Herrera.</p>
                        <a href="https://firestore-goty-72573.web.app/inicio" target="_blank" class="btn btn-primary">Más información</a>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        <h4>App Camera</h4>
                        <p class="text-justify">
                            Mobile application for Android using Kotlin the purpose of the application is to make photographic captures, in this application Android Studio and the necessary libraries are used for the development and execution of the application.
                        </p>
                        <a href="https://github.com/ljaramillom/AppCam" target="_blank" class="btn btn-primary">Más información</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <h4>App AdminPro</h4>
                        <p class="text-justify">
                            Web application that uses Angular and MongoDB, NodeJS and expressJS. The application consists of the hospital management of a health institution for the registration of doctors and hospitals, it is an application made by the online course of udemy with
                            the tutor Fernando Herrera.
                        </p>
                        <a href="https://github.com/ljaramillom/adminpro" target="_blank" class="btn btn-primary">Más información</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="item-portfolio">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <h4>App Chat</h4>
                        <p class="text-justify">
                            Creating a realtime chat with Sails.js and React for the monthly event of the community of women programmers PionerasDev in Medellín - Colombia. With the sole purpose of sharing the knowledge acquired with this new Sails.js technology, its advantages
                            in terms of performance and scalability.
                        </p>
                        <a href="https://github.com/ljaramillom/ChatSails" target="_blank" class="btn btn-primary">Más información</a>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>