<div class="other-pages">
    <section class="welcome">
        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    About me
                </h1>
                <p class="wow pulse" data-wow-delay="1s">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cumque dolore perspiciatis.
                </p>
            </div>
        </div>
    </section>

    <section class="breadcrumb-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a href="index.html">Inicio</a> » About me
                </div>
            </div>
        </div>
    </section>

    <main class="py-3">
        <div class="container">
            <div class="row">
                <article class="col-md-8">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam saepe quis atque, reiciendis corrupti amet, dolor iste eligendi ratione labore a praesentium assumenda veniam beatae quo, excepturi eum numquam error.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorem perspiciatis quam eveniet facere? Amet veritatis quidem sint ratione maiores adipisci nulla culpa architecto optio, similique aliquid asperiores repudiandae
                        modi!
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam saepe quis atque, reiciendis corrupti amet, dolor iste eligendi ratione labore a praesentium assumenda veniam beatae quo, excepturi eum numquam error.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorem perspiciatis quam eveniet facere? Amet veritatis quidem sint ratione maiores adipisci nulla culpa architecto optio, similique aliquid asperiores repudiandae
                        modi!
                    </p>
                </article>
                <aside class="col-12 col-md-4">
                    <img src="images/nosotros.svg" alt="about-me">
                </aside>
            </div>
        </div>
    </main>
</div>