<div class="other-pages">
    <section class="welcome">
        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    About me
                </h1>
                <p class="wow pulse" data-wow-delay="1s">
                    Information about me and what I enjoy doing in my profession
                </p>
            </div>
        </div>
    </section>

    <section class="breadcrumb-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <a routerLink="home">Inicio</a> » About me
                </div>
            </div>
        </div>
    </section>

    <main class="py-3">
        <div class="container">
            <div class="row">
                <article class="col-md-8 text-justify">
                    <h2>My name's Lizet Jaramillo</h2><br>
                    <p>
                        I'm system engineering of Universidad Nacional de Colombia. My specialty is frontend web development using framework Angular with more than two years of experience. I also have experience with technologies such as HTML, CSS, using preprocessor Sass and
                        librarie Bootstrap. My experience backend development using the technologie NodeJS.
                    </p>
                    <p>
                        Among the basic knowledge acquired in databases are MySql and NOSQL (MongoDB).
                    </p>
                    <p>
                        I’m curious, and I enjoy work that challenges me to learn something new and I like to be constantly learning especially and attend different technological communities of the city, such as, MedellinJS, Angular Medellín, PionerasDev and She Codes Angular.
                    </p>
                </article>
                <aside class="col-12 col-md-4">
                    <img class="img-thumbnail" src="assets/images/profile.jpg" alt="about-me">
                </aside>
            </div>
        </div>
    </main>
</div>