<div class="home">
    <section class="welcome">
        <div class="text-header text-center">
            <div class="container">
                <h1 class="display-4 wow pulse">
                    Welcome to my website
                </h1>
                <p class="wow pulse" data-wow-delay="1s">
                    Nice to meet you!
                </p>
                <a routerLink="/contact" class="btn btn-primary mt-4">Contact me</a>
            </div>
        </div>

        <div class="arrow-chevron-down text-center">
            <a data-scroll href="#about-me"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>

    </section>

    <section class="about py-3" id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <h2 class="h3 text-center text-sm-center text-md-left font-weight-bold">
                        About me
                    </h2>
                    <p class="text-justify">
                        I'm system engineering of Universidad Nacional de Colombia. My specialty is frontend web development using framework Angular with more than two years of experience. I also have experience with technologies such as HTML5, CSS3, using preprocessor Sass
                        and librarie Bootstrap. My experience backend development using the technologie NodeJS.
                    </p>
                    <p class="text-justify">
                        Among the basic knowledge acquired in databases are MySql and NOSQL (MongoDB).
                    </p>
                    <p class="text-justify">
                        I’m curious, and I enjoy work that challenges me to learn something new and I like to be constantly learning especially and attend different technological communities of the city, such as, MedellinJS, Angular Medellín, PionerasDev and She Codes Angular.
                    </p>
                </div>
                <div class="col-md-4 col-xl-3">
                    <img src='assets/images/interfaz.svg' alt="about-me">
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio py-3">
        <h2 class="h3 text-center text-sm-center font-weight-bold">Portfolio</h2>
        <p class="text-center">These are some of my projects on GitHub</p>
        <div class="container">
            <div class="row">
                <ul class="col-6 col-lg-4 text-center text-lg-left">
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="container-title-subtitle">
                            <h4>App Profile</h4>
                            <p class="d-none d-sm-block">Profile professional using Angular</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="container-title-subtitle">
                            <h4>App Inscription</h4>
                            <p class="d-none d-sm-block">Inscription of course using Node JS</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <div class="container-title-subtitle">
                            <h4>App Ghaphics</h4>
                            <p class="d-none d-sm-block">Graphics in realtime using Firebase</p>
                        </div>
                    </li>
                </ul>

                <div class="col-6 col-lg-4 d-none d-lg-block">
                    <a href="https://github.com/ljaramillom" target="_blank">
                        <img src="assets/images/github.svg" alt="github">
                    </a>
                </div>

                <ul class="col-6 col-lg-4 text-center text-lg-right">
                    <li>
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        <div class="container-title-subtitle">
                            <h4>App Camera</h4>
                            <p class="d-none d-sm-block">Capturing images using Kotlin</p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <div class="container-title-subtitle">
                            <h4>App Shop</h4>
                            <p class="d-none d-sm-block">Minimalist store using Angular </p>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <div class="container-title-subtitle">
                            <h4>App Chat</h4>
                            <p class="d-none d-sm-block">Realtime chat with Sails.js and React</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <main class="academic py-3">
        <div class="container">
            <h2 class="h3 text-center font-weight-bold">Academic studies</h2>
            <div class="row">
                <article class="col-md-4">
                    <img src="assets/images/graduation-cap.svg" alt="">
                    <h3><a href="#">Systems Technique</a></h3>
                    <p class="d-none d-md-block">During the 2007 I studied a Technique in Systems at CEFA - Centro Formativo de Antioquia school, I acquired the basic knowledge of programming knowledge using Microsoft Visual Studio. </p>
                    <a href="https://centroformativodea.wixsite.com/cefa" target="_blank" class="btn btn-secondary d-none d-md-block">Ver más</a>
                </article>
                <article class="col-md-4">
                    <img src="assets/images/university.svg" alt="">
                    <h3><a href="#">Systems & Informatics Engineering</a></h3>
                    <p class="d-none d-md-block">I studied computer engineering and systems at the Universidad Nacional de Colombia. Among the basic knowledge acquired in college are the object oriented programming paradigm with languages like Java, SQL databases, software analysis
                        and design, web applications development and software project management.</p>
                    <a href="https://minas.medellin.unal.edu.co/formacion/pregrado/ingenieriadesistemas" target="_blank" class="btn btn-secondary d-none d-md-block">Ver más</a>
                </article>
                <article class="col-md-4">
                    <img src="assets/images/laptop.svg" alt="">
                    <h3><a href="#">Online Studies</a></h3>
                    <p class="d-none d-md-block">I am passionate about programming and technology, I like to be constantly learning especially with new technologies for software development on online education platforms like udemy, coursera and FreeCodeCamp.</p>
                    <a href="https://www.freecodecamp.com/ljaramillom" target="_blank" class="btn btn-secondary d-none d-md-block">Ver más</a>
                </article>
            </div>
        </div>
    </main>

    <section>
        <app-owl-carousel></app-owl-carousel>
    </section>
</div>