<div class="i-love-to-do py-3">
    <div class="container">
        <h2 class="h3 text-center font-weight-bold">I love to do</h2>
        <p class="text-center">
            In my spare time I am dedicated to reading, learning more about programming. <br> I like to walk, travel, cook, photography, go to movies and theater, and share with my family is what i love the most.
        </p>
        <owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let img of Images">
                <div style="align-content: center">
                    <img style="height: 240px;width:100%" src={{img}}/>
                </div>
            </div>
        </owl-carousel>
    </div>