<footer class="cv-footer py-3" role="contentinfo">
    <div class="container">
        <p>Made with ❤</p>
        <ul class="social-networks">
            <li><a target="_blank" [href]="_infoPageService.info.facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a target="_blank" [href]="_infoPageService.info.twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a target="_blank" [href]="_infoPageService.info.github"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
<a class="go-up" data-scroll href="#header-page"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>